*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: gray;
}
.main-container{
    background: beige;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 35px 45px;
    transform: translate(-50%, -50%);
}

.main-container h1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

button{
    background-color: rgb(217, 110, 74);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    border: 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 10px 10px rgba(203, 211, 199, 0.961);
    
}

button:hover{
    background-color: rgba(190, 237, 171, 0.961);
    color: rgb(5, 21, 246);
}
.main-container input{
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #494eea;
    margin-bottom: 35px;
    width: 100%;
    height: 50px;
    align-items: center;
    outline: none;
    font-size: 20px;
}

input:focus{
    border-color: rgb(182, 78, 9);
}

#qrContainer{
    width: 200px;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: max-height 1s;
}

#qrContainer img{
    width: 100%;
    padding: 10px;
}

#qrContainer.show-img{
    max-height: 300px;
    border: 1px solid #494eea;
    margin: 10px auto;
}